<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace通常设置为 文件所在包+文件名的形式 -->
<mapper namespace="AccountMapper">
<!-- 1、id是实际调用MyBatis方法时需要用到的参数	2、parameterType是调用对应方法时参数的数据类型 -->

	<!-- 添加 -->
	<insert id="sa" parameterType="com.com.hkd.po.Account">
		insert into t_account(username,password,age) values(#{username},#{password},#{age})
	</insert>

	<!-- 删除 -->

</mapper>